node_modules
.bundle
.cache
.gem
.local
.gnupg
.node-gyp
.conda
anaconda3
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.rvm
.vscode-server
.solargraph
.ssh
.webdrivers
.zcompdump-EPS3567-5.8
.zcompdump
.sudo_as_admin_successful
.zsh_history
.config/gh/hosts.yml
.config/pulse
.landscape
gpgkey
.githubtoken
.pki/nssdb/cert9.db
.pki/nssdb/key4.db
.pki/nssdb/pkcs11.txt
.systemd-env
.config/google-chrome/CrashpadMetrics-active.pma
.config/google-chrome/BrowserMetrics/BrowserMetrics-61243FD2-24A.pma
.irb-history
.viminfo
.yarnrc
.gitignore
.lesshst
.systemd-env
.config/google-chrome/Local State
.config/google-chrome/Crash Reports/settings.dat
%*
*.sw[a-z]
*.un~
.netrwhist
Session.vim
.config/google-chrome/BrowserMetrics/BrowserMetrics-612A87E6-609.pma
.config/google-chrome/BrowserMetrics/BrowserMetrics-612A87FF-64B.pma
.config/google-chrome/CrashpadMetrics.pma
.dbus/session-bus/554f63f7f20b830cc6224185611f2bbc-172.31.0.1_0
