node_modules
.bundle
.cache
.gem
.local
.gnupg
.node-gyp
.conda
anaconda3
.npm
.rvm
.vscode-server
.solargraph
.ssh
.webdrivers
.zcompdump-EPS3567-5.8
.zcompdump
.sudo_as_admin_successful
.zsh_history
.config/gh/hosts.yml
.config/pulse
.landscape
gpgkey
.githubtoken
.pki/nssdb/cert9.db
.pki/nssdb/key4.db
.pki/nssdb/pkcs11.txt
.systemd-env
.config/google-chrome/CrashpadMetrics-active.pma
.config/google-chrome/BrowserMetrics/BrowserMetrics-61243FD2-24A.pma
